{% extends "accounts/base.html" %}
{% load static %}

{% block content %}
    {% include "accounts/navbar.html" %}
    <div class="row container">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    Add a New Customer
                </span>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="input-field col s12">
                        {{ form.as_p }}
                    </div>

                    <input class="btn blue" type="submit" value="SAVE">
                    <a href="{% url 'accounts:index' %}" class="btn btn-block orange darken-4 right">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    </div>
    {% include "accounts/footer.html" %}
{% endblock %}
