{% extends "accounts/base.html" %}
{% load static %}

{% block content %}
    <div class="row blue-grey darken-4">
        <div class="col s4 offset-s4 container">
            <div class="card">
                <div class="card-content">
                    <p>Do you really want to delete "{{ customer.name }}"</p>
                    <form action="{% url 'accounts:delete-customer' customer.id %}" method="POST">
                        {% csrf_token %}
                        <div style="display: flex; flex-direction: row">
                            <a href="{% url 'accounts:index' %}" class="btn btn-block">Cancel</a>
                            <input style="margin-left: 10px" class="btn btn-block red darken-4" type="submit" value="Confirm">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
